# Project notes and ideas, human-readable, likely to fall out of date so not included.
research/

# AI Agent configs; I've been experimenting with these recently and my agent files need work;
# they're basically /init'ed. Will add them once they're improved a bit.
AGENTS.md
CLAUDE.md


#### The below is largely Pamplejuce's .gitignore ####
# Pamplejuce .gitignore follows

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
**/.DS_Store

# It's nice to have the Builds folder exist, to remind us where it is
Builds/*
!Builds/.gitkeep

# This should never exist
Install/*

# Running CTest makes a bunch o junk
Testing

# IDE config
.idea

# clion cmake builds
build/
cmake-build-debug
cmake-build-release
cmake-build-relwithdebinfo
packaging/Output/*
